@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	background: #8d8d8d;
	left:7.7%;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 0;
	position: absolute;
	top:10px;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: left;
    font-size: 1.6em;
    left:-18px;
	color: #8e8e8e;
	position: relative;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #4f4f4f;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 15%;
	background: rgb(240,240,240);
	color: #000;
	padding: 2em;
	font-size: 1em;
	line-height: 1;
	position: relative;
	border-radius: 7px;
	top:10px;	
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: rgb(211,211,211);
}
/*title of pulication*/
.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #7d7d7d;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #ededed;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 20px;
	height: 20px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1em;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #ededed;/*background of circle*/
	border-radius: 50%;
	box-shadow: 0 0 0 4px #adadad;
	text-align: center;
	left: 10.3%;
	top: 20px;
	margin: 0 0 0 -25px;
}

