@font-face{
  font-family: "Istok Web";
  src: url('fonts/Istok_Web/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Istok Web";
  src: url('fonts/Istok_Web/IstokWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic
}


@font-face{
  font-family: "Istok Web";
  src: url('fonts/Istok_Web/IstokWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Istok Web";
  src: url('fonts/Istok_Web/IstokWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
