.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 4px;
  height: 100%;
  background-color: white;
}

body {
  padding-left: 80px;
}

.nav {
  margin-top: 32px;
}

.pub {
  margin-top: 16px;
  margin-left: 48px;
}

.pubYear h4 {
  margin-left: 16px;
}

.pubGroup h4 {
  margin-left: 32px;
}
